<aside class="col-4">
  <h3>
    Make me a new burger!
  </h3>
  <form>
    <div class="form-group">
      <label for="burgerNameInput">BurgerName</label>
      <input type="text" class="form-control" id="burgerNameInput">
    </div>
    <button type="submit" id="makeBurgerButton" class="btn btn-primary">Cook!</button>
  </form>
</aside>
<main class="col-8">
  <section class="card-columns">
    {{#each burgers}}
    {{#unless devoured}}
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/burger.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Name: {{burger_name}}</h5>
        <button class="eat btn btn-primary" data-name="{{name}}" data-id="{{_id}}">Eat me</button>
      </div>
    </div>
    {{/unless}}
    {{/each}}
  </section>
</main>