<aside class="col-4">

</aside>
<main class="col-8">
  <section class="card-columns">
    {{#each burgers}}
    {{#unless devoured}}
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/burger.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Name: {{burger_name}}</h5>
        <button class="eat btn btn-primary" data-name="{{name}}" data-id="{{_id}}">Eat me</button>
      </div>
    </div>
    {{/unless}}
    {{/each}}
  </section>
</main>
<form action="/" method="POST">
  <textarea type="text" name="task"></textarea>

  <button type="submit">Submit</button>
</form>